.shop-top{
    background: #f6f7fb;
    padding: 18px 20px;
}

.shop-top .single-shorter{
    display: flex;
    align-items: center;
}

.shop-top .single-shorter .dropdown-toggle{
    margin-top: 0px;
    color: gray;
    background-color: white;
    border: none;
}

.shop-top .single-shorter .dropdown-toggle:focus, .shop-top .single-shorter .dropdown-toggle:active{
    outline: 0;
    outline-style: none;
    outline-width: 0;
}

.shop-top .btn-secondary:not(:disabled):not(.disabled):active:focus{
    box-shadow: none;
}

.shop-top .btn-secondary:not(:disabled):not(.disabled):active{
    color: gray;
    background-color: white;
    border: none;
}

.shop-top .btn:focus , .shop-top .btn-secondary:focus{
    box-shadow: none;
}

.shop-shorter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.single-shorter label{
    font-weight: 500;
    font-size: 16px;
    margin-right: 5px;
    margin-bottom: 0px;
}

.single-shorter select{
    border: 1px solid #e6e6e6;
    width: 130px;
    height: 30px;
    background-color: white;
    color: gray
}

.single-shorter select option{
    color: #333;    
}

.shop-top-arrow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.shop-top-arrow input{
    width: 20%;
    text-align: center;
    margin: 0px 5px;
    border: transparent;
}

.shop-top-arrow button{
    font-size: 12px;
    font-weight: 500;
    color: #212529;
    padding: 4px 10px;
    background-color: white;
    border: 1px solid #e6e6e6;
    outline: none;
    margin-top: 0px;
}

.shop-top-arrow button:hover{
    color:white;
    background-color: rgb(206, 27, 39);
    transition: 0.5s;
}

.hide{
    opacity: 0.5;
}

.shop-top .dropdown-menu{
    padding-left: 10px;
    padding-right: 10px;
}

.shop-top .dropdown-menu .dropdown-item{
    padding-left: 10px;
}

.shop-top .dropdown-menu .dropdown-item:hover{
    cursor: pointer;
    background-color: rgb(206, 27, 39);
    color: white;
    transition: 0.5s;
}