.single-product{
	margin-bottom: 3%;
	margin-top: 3%;
}

.single-product-content:hover{
	box-shadow: 4px 4px 10px 0px #303030;
	transition: 0.5s;	
}

.single-product-content{
	border: 2px solid rgb(214, 214, 214);
	border-radius: 5px;
}

.single-product .single-product__img {
    position: relative;
    overflow: hidden;
    cursor:pointer;
}

.single-product .single-product__img  {
    display: block;
    position: relative;
}

.single-product .single-product__img img {
	width: 100%;
}

.single-product .button-head {
	background: #fff;
	display: inline-block;
	height: 40px;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: -50px;
	z-index: 9;
	height: 50px;
	line-height: 50px;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}

.single-product .single-product__img:hover .button-head{
	bottom:0;
}

.single-product .single-product__img .product-action {
	display: inline-block;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 99;
	border-radius: 3px;
}

.single-product .single-product__img .product-action a {
	background-color: transparent;
	color: #333;
	display: block;
	font-size: 16px;
	display: inline-block;
	margin-right: 15px;
	text-align: right;
	height: 52px;
	position: relative;
	top: 2px;
}

.single-product .single-product__img .product-action a:last-child{
	margin-right:0;
	border:none;
}

.single-product .single-product__img .product-action a i {
  line-height: 40px;
  color: #333;
  padding-right: 5px;
}

.single-product .single-product__img .product-action a span {
	visibility: hidden;
	position: absolute;
	background: rgb(206, 27, 39) !important;
	color: #fff !important;
	text-align: center;
	padding: 5px 12px;
	z-index: 3;
	opacity: 0;
	-webkit-transition: opacity .6s, margin .3s;
	-o-transition: opacity .6s, margin .3s;
	transition: opacity .6s, margin .3s;
	font-size: 11px;
	right: 0;
	line-height: 14px;
	top: -12px;
	margin-top: -5px;
	margin-right: 0;
	display: inline-block;
	width: 120px;
	border-radius:15px 0 0 15px;
}

.single-product .single-product__img .button-head .product-action a span::after {
	position: absolute;
	content: "";
	right: 0;
	bottom: -12px;
	border: 6px solid rgb(206, 27, 39);
	border-left:0px solid transparent;
	border-right:6px solid transparent;
	border-bottom:6px solid transparent;
}

.single-product .single-product__img .product-action a i:hover {
	color:rgb(206, 27, 39);
	transition: 0.5s;
}

.single-product .single-product__img .product-action a:hover span {
  visibility: visible;
  opacity: 1;
  color:#333;
  background:#fff;
  margin-top: -12px;
}

.single-product .single-product__img .product-action-2 {
	position: absolute;
	left: 0;
	bottom: 0;
	text-align: left;
	z-index: 99;
	-webkit-transition: all 250ms ease-out;
	-o-transition: all 250ms ease-out;
	transition: all 250ms ease-out;
}
.single-product .single-product__img .product-action-2 a {
	display: block;
	background-color: transparent;
	color: #333;
	text-align: left;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1;
	display: inline-block;
	padding-left: 5px;
}

.single-product .single-product__img .product-action-2 a:hover {
  color:rgb(206, 27, 39);
  text-decoration: none;
  transition: 0.5s;
}

.single-product .button-head {
	background: #fff;
	display: inline-block;
	height: 40px;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: -50px;
	z-index: 9;
	height: 50px;
	line-height: 50px;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}

.single-product .product-content{
	margin-bottom: 5%;
}

.single-product .product-content h3{
	color: #333;
	font-size: 16px;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.single-product .product-content h3:hover{
	color: rgb(206, 27, 39);
	cursor: pointer;
	transition: 0.5s;
}

.single-product .product-content .product-price{
	text-align: center;
}

.single-product .product-content .product-price span{
	color: white;
	background-color: rgb(206, 27, 39);
	padding: 2px 10px;
	border-radius: 10px;
}

.single-product .product-content .product-price span:hover{
	background-color: #333;
	cursor: pointer;
	transition: 0.5s;
	text-decoration: none;
}