.TopbarRight{
    float:right;
}

.TopbarRight__list-main{
	margin: 0px;
}

.TopbarRight__list-main li:first-child{
	padding-left:0;
}

.TopbarRight__list-main li {
	display: inline-block;
	color: #333;
	font-size: 15px;
	font-weight: 500;
	border-right: 1px solid #f0f0f0;
	padding: 15px 13px;
}

.TopbarRight__list-main li i {
	display: inline-block;
	margin-right: 4px;
	font-size: 15px;
	color: rgb(206, 27, 39);
	position: relative;
	top: 1px;
}
.TopbarRight__list-main li:last-child{
	padding-right:0;
	border:none;
}
.TopbarRight__list-main li a{
	color:#333;
}
.TopbarRight__list-main li a:hover{
    color:rgb(206, 27, 39);
    text-decoration: none;
    transition-duration: 0.5s;
}

.TopbarRight__list-main .dropdown-toggle{
	color: black;
	background-color: white;
	border: none;
	font-size: 15px;
	font-weight: 500;
}

.TopbarRight__list-main .dropdown-toggle::after{
	border: none;
}

.TopbarRight__list-main .dropdown-menu{
	padding-left: 10px;
	padding-right: 10px;
}

.TopbarRight__list-main .dropdown-menu:hover{
	cursor: pointer;
}

.TopbarRight__list-main .dropdown-menu a{
	font-weight: 500;
}

.TopbarRight__list-main .dropdown-menu a:hover{
	background-color: rgb(206, 27, 39);
	color: white;	
}