.main-discount-product{
    margin:100px 100px 50px 100px;
    background-color: rgb(206, 27, 39);
    border-radius: 10px;
    position: relative;
}

.main-discount-product h5{
    font-size: 20px;
    font-weight: 500;
    color: white;
    padding-left: 20px;
    padding-top: 5px;
}

.main-discount-product__single{
    position: relative;
    z-index: 2;
    background-color: white;
    padding-right: 15px;
    background-color:rgb(206, 27, 39);
    margin-bottom: 25px;
    margin-top: 5px;
}

.main-discount-product__single .product-preview{
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
}

.main-discount-product__single .product-preview:hover{
    box-shadow: 0px 0px 8px 1px #333;
    cursor: pointer;
    transition: 0.5s;
}

.main-discount-product__single .product-preview img{
    max-width: 100%;
}

.main-discount-product .slick-prev{
    left:10px
}

.main-discount-product .slick-prev, .main-discount-product .slick-next{
    transform: translate(0, -100%);
}

.product-preview__name{
    color: black;
    text-align: center;
    font-weight: 600;
}

.product-preview__price{
    color: rgb(206, 27, 39);
    text-align: center;
    font-weight: 500;
}
