 /* .category {
	text-align: center;
	margin: 0px;
}

.category__search {
	height: 50px;
	background: #fff;
	position: relative;
	margin: 0;
	line-height: 45px;
	border-radius: 5px;
	border: 1px solid #ececec;
	padding: 0px;
	display: flex;
}

.category__search div {
	display: block;
	float: right;
} */

/* .category__search input {
	height: 48px;
	background: transparent;
	color: #666;
	border-radius: 0;
	border: none;
	font-size: 14px;
	font-weight: 500;
	width: 328px;
	margin: 0px;
	padding: 0 80px 0 20px;
	outline: none;
}

.category__search input:hover{
	border: none;
	outline: none;
}

.category__search .btnn {
	height: 50px;
	line-height: 53px;
	width: 62px;
	text-align: center;
	font-size: 18px;
	color: #fff;
	background: #333333;
	position: absolute;
	right: -2px;
	top: -1px;
	border: none;
	border-radius: 0 5px 5px 0;
	transition: all 0.4s ease;
	padding: 0px;
	outline: none;
	border: none;
	margin-top: 0px;
}

.category__search .btnn:hover{
	color:#fff;
	background-color :rgb(206, 27, 39);
	outline: none;
	border: none;
}

.category__search .btnn:active{
	outline: none !important;
	border: none;
} */

/* .category__search select{
	height: 48px;
	width: 150px;
	border: none;
	text-align: center;
	background: transparent;
	text-transform: capitalize;
	padding: 0 0 0 20px;
	border-right: 1px solid #eee;
	line-height: 50px;
	font-size: 15px;
	font-weight: 500;
	color: #424646;
	outline: none;
}  */

.category__search{
	display: flex;
	align-items: center;
	justify-content: center;
}

.category__search .search{
	position: relative;
}

.category__search .search input{
	width: 410px;
	padding: 3% 4%;
	border: 1px solid #F6F7FB;
}

.category__search .btnn{
	margin-top: 0px;
	border: 1px solid #F6F7FB;
	background-color: #333333;
	outline-width: 0;
	border-radius: 0 5px 5px 0;
	position: absolute;
	top: -1%;
	right: 0%;
	padding: 3.1% 20px;
}

.category__search .btnn:hover{
	color:#fff;
	background-color :rgb(206, 27, 39);
	transition: 0.5s;
}

.category__search .btnn i{
	color: white;
	font-size: 18px;
}

.category__search .dropdown .dropdown-toggle{
	margin-top: 0px;
	padding: 12px 30px;
	border-radius: 5px 0px 0px 5px;
	background-color: white;
	border: 1px solid #F6F7FB;
	color: #666;
	margin-left: 1%;
}

.category__search .btn-secondary:active{
	border: none;
	background-color: transparent;
	color: transparent;
}

.category__search .dropdown-menu .dropdown-item{
	margin-top: 0px;
}

.category__search .dropdown-menu{
	padding-left: 10px;
	padding-right: 10px;
}

.category__search .dropdown-menu .dropdown-item a{
	color: black;
}

.category__search .dropdown-menu a:hover{
	background-color :rgb(206, 27, 39);
	color: white;
	font-weight: 500;
}

.category__search .dropdown-menu .dropdown-item Link p{
	text-decoration: none;
	padding-left: 5px;
	margin-bottom: 0px;
}

.category__search .btn-secondary:not(:disabled):not(.disabled):active{
	color: black;
	background-color: white;
	border: 1px solid #F6F7FB;
	box-shadow: none;
}

.category__search .btn-secondary.dropdown-toggle:focus{
	box-shadow: none;
}