.MiddleInner {
	padding: 20px 100px 20px 100px;
	background: #fff;
}

.container{
    padding: 0px;
}

.MiddleInner-flex{
    display: flex;
    flex-direction:row;
    align-items: center;
    margin: 10px 0px;
}
