.right-bar-div{
    padding-right: 0px;
}

.right-bar {
    display: flex;
    justify-content: flex-end;
}

.single-bar a{
    color: #333;
    font-size: 20px;
    margin-left: 25px;
}

.single-bar a:hover{
    color: rgb(206, 27, 39);
    transition: 0.5s;
}

.right-bar .shopping{
    position: relative;
}

.right-bar .shopping .total-count{
    position: absolute;
    background-color: rgb(206, 27, 39);
    color: white;
    top : 0%;
    padding: 1px 10px;
    color: 10px;
    border-radius: 8px;
    font-size: 15px;
    left: 80%;
}