.logo-shop-detail{
    display: flex;
    position: relative;
    align-items: flex-start;
    margin-left: 1%;
    margin-right: 1%;
    padding: 0;
}

.logo-shop-detail__img{
    display: inline-block;
    width: 7rem;
    height: 7rem;
    position: relative;
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #fff;
    z-index: 1;
    border: 2px solid rgb(75, 196, 236);
}

.logo-shop-detail__img img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}

.logo-shop-detail__info{
    margin-left: 2%;   
    margin-top: 1.5%;
}

.logo-shop-detail__info .name{
    font-size: 17px;
    font-weight: 600;
}

.logo-shop-detail__info .contact{
    margin: 1% 0;
}