.connect ul{
	padding-left: 0px;
}

.connect ul li {
	color: #fff;
	display: block;
	margin-bottom: 4px;
	font-weight: 500;
	font-size: 14px;
}

.connect ul li:last-child{
	margin-bottom:0;
}