.login{
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.formdata{
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    background-color: rgb(240, 241, 247);
    box-shadow: 0px 2px 2px rgb(185, 184, 182);

}

.formdata__title{
    color: rgb(206, 27, 39);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: 0px 100px;
}

.formdata__inf, .check, button{
    margin-top: 15px;
}

.formdata__boxinf{
    width: 100%;
    padding: 0px 10px 0px 10px;
    border: 1px solid white;
    border-radius: 2px;
}

.signin{
    background-color:#f7941d;
    color: white;
    border-radius: 2px;
    padding: 5px 0px;
}

.signin:hover{
    background-color:#333;
    transition: 0.5s;
}

.registerbutton{
    background-color:rgb(206, 27, 39);
    color: white;
    border-radius: 2px;
    padding: 5px 0px;
    text-align: center;
    cursor: pointer;
}

.registerbutton:hover{
    background-color: #333;
    transition: 0.5s;
}

.or{
    text-align: center;
    position: relative;
}

.check{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

.check__forgot{
    font-size: 15px;
    color: rgb(248, 34, 34);
    margin-top: 1px;
}

.check__forgot:hover{
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.or{
        margin-top: 12px;
}

.or__text{
    position: relative;
    z-index: 2;
    padding: 0px 5px;
    background-color: rgb(240, 241, 247);
    font-weight: bold;
}

.line {
    display: inline-block;
    height: 2px;
    background-color: rgb(163, 159, 159);
    width: 100%;
    position: absolute;
    z-index: 0;
    left: 0%;
    top:50%
}