.shop-single-blog{
	margin-top:30px;
}

.shop-single-blog{
	text-align:center;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}

.shop-single-blog:hover{
	box-shadow: 4px 4px 10px 0px #303030;
}

.shop-single-blog img{
	height:100%;
	width:100%;
}

.shop-single-blog .content {
	padding: 40px;
}

.shop-single-blog .content .title {
	font-size: 20px;
	font-weight: 600;
	color: rgb(206, 27, 39);
}

.shop-single-blog .content .title:hover{
	color:rgb(206, 27, 39);
	transition: 0.5s;
	text-decoration: none;
}

.shop-single-blog .content .date {
	font-size: 15px;
	font-weight: 400;
	margin-bottom: 5px;
	color: #B7B7B7;
}

.shop-single-blog .content .more-btn {
	font-size: 16px;
	font-weight: 500;
	color: #3c3c3c;
	margin-top: 10px;
	display: block;
}

.shop-single-blog .content .more-btn:hover{
	color:rgb(206, 27, 39);
	transition: 0.5s;
	text-decoration: none;
}