.main-all-category {
	color: #fff;
	background: transparent;
	position: relative;
	background: rgb(206, 27, 39);
}

.main-all-category h3{
	padding: 20px 25px;
}

.cat-heading {
	font-size: 20px;
	color: #fff;
	margin-bottom: 0px;
}

.cat-heading i {
	color: #fff;
	display: inline-block;
	margin-right: 15px;
	font-size: 22px;
}

.main-all-category__child {
	position: absolute;
	left: 0;
	top: 64px;
	background: #fff;
	z-index: 1;
	width: 100%;
	box-shadow: 0px 5px 15px #0000000a;
	padding-left: 0px;
}

.main-all-category__child li{
	display:block;
	border-bottom:1px solid #f6f6f6;
	position:relative;
}

.main-all-category__child li:last-child{
	border:none;
}

.main-all-category__child li a {
	font-size: 14px;
	font-weight: 600;
	color: #333;
	padding: 4.45%;
	display: block;
	text-transform: uppercase;
	text-decoration: none;
}

.main-all-category__child li a:hover{
	color:rgb(206, 27, 39);
	transition: 0.5s;
}

.main-all-category__child li a i{
	display:block;
	float:right;
}



