.info-product-detail{
    padding:2% 1% 0 1%;
}

.info-product-detail h3{
    border-bottom: 1px dotted rgb(214, 214, 214);
    padding-bottom: 3%;
}

.info-product-detail .info-product-detail__price{
    padding-bottom: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-product-detail .price-code{
    border-bottom: 1px dotted rgb(214, 214, 214);
}

.info-product-detail .info-product-detail__price .discount{
    background-image: linear-gradient(90deg,#b9081d,#f21a4c);
    color: #fff;
    border-radius: 3px;
    padding: 0.1% 1%;
    font-size: 11px;
}

.info-product-detail .info-product-detail__price .price{
    color: #e5101d;
    font-size: 23px;
    margin-left: 1%;
    font-weight: 500;
}

.price-fix{
    margin-left: 0% !important;
}

.info-product-detail .info-product-detail__price .final-price{
    text-decoration: line-through;
    color: #828282;
    font-size: 17px;
    margin-left: 1%;
}

.info-product-detail .support-shipping{
    padding: 3% 0px;
    border-bottom: 1px dotted rgb(214, 214, 214);
}

.info-product-detail .product-option{
    padding: 3% 0;
}

.info-product-detail .add-to-cart{
    background-color: rgb(221, 3, 18);
    color: white;
    font-size: 17px;
    font-weight: 600;
    padding: 1% 10%;
    border-radius: 3px;
    border: transparent;
    margin-top: 2%;
}

.info-product-detail .to-cart{
    background-color: #f7941d;
    color: white;
    font-size: 17px;
    font-weight: 600;
    padding: 1% 10%;
    border-radius: 3px;
    border: transparent;
    margin-top: 2%;
    margin-left: 3%;
}

.info-product-detail .add-to-cart:hover{
    background-color: rgb(206, 27, 39);
}

.info-product-detail .to-cart:hover{
    background-color: #ea8000;
}

.info-product-detail .add-to-cart:focus , .info-product-detail .add-to-cart.active,
.info-product-detail .to-cart:focus , .info-product-detail .to-cart.active{
    outline: 0;
    outline-style: none;
    outline-width: 0;
}