.section-title{
    margin-bottom:40px;
    display: flex;
    justify-content: center;
}

.section-title h2 {
	font-size: 25px;
	margin-bottom: 0;
	text-transform: capitalize;
	position: relative;
	color: #2c2d3f;
	font-weight: 700;
	padding-bottom: 15px;
}

.section-title h2::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 50px;
    background: rgb(206, 27, 39);
    left: 50%;
    bottom: 0;
    margin-left: -25px;
}