.single-product-info-container{
    padding: 0px 100px;
    margin: 0px;
}

.single-product-info-container .product-content {
    margin: 0px 0px 50px 0px;
    text-align: center;
}

.single-product-info-container .product-content h3 {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #333;
    text-transform : uppercase ;
    padding-top: 10px;
}

.single-product-info-container .product-content h3:hover{
    color:rgb(206, 27, 39);
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
}

.single-product-info-container .product-content span{
    font-size: 15px;
    font-weight: 500;
    color: white;
    background-color:rgb(206, 27, 39) ;
    padding: 5px 10px;
    border-radius: 10px;
}

.single-product-info-container .product-img{
    overflow:hidden;
    padding-right: 0px;
    margin-right: 0px;
}

.single-product-info-container .product-img:hover img{
    transform: scale(1.1,1.1);
    transition: 0.5s;
}

.product-price span:hover{
    background-color: #333;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

