.copyright{
    border-top:1px solid #eeeeee3d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    margin-top: 70px;
}