.newsletter{
    background:#fff;
    padding: 100px 0px;
}
.newsletter .inner{
	text-align:center;
}
.newsletter .inner h4 {
	color: #333;
	font-size: 17px;
	font-weight: 600;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.newsletter .inner p{
	color:#777;
	font-size:14px;
	font-weight:400;
	margin-bottom:30px;
}
.newsletter .inner p span{
	color:rgb(206, 27, 39);
}
.newsletter .newsletter-inner{
	position:relative;
	display: inline-block;
}
.newsletter .newsletter-inner input {
	width: 480px;
	height: 55px;
	border-radius: 0px;
	padding: 0px 30px;
	font-weight: 400;
	display: inline-block;
	text-shadow: none;
	box-shadow: none;
	border-radius: 0;
	border: none;
	border: 1px solid #ececec;
	border-radius: 30px 0 0 30px;
}
.newsletter .newsletter-inner button{
	border:none;
	text-shadow:none;
	box-shadow:none;
	border-radius:0;
}
.newsletter .newsletter-inner .btn {
	display: inline-block;
	height: 55px;
	padding: 10px 30px;
	position: absolute;
	top: 0;
	background: rgb(206, 27, 39);
	color: #fff;
	left: 100%;
	border-radius: 0 30px 30px 0;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	margin-top: 0px;
}
.newsletter .newsletter-inner .btn:hover{
	background:#333;
	color:#fff;
	transition: 0.5s;
}