.SingleWidget{
	padding-top: 1%;
}

.single-footer h4 {
	font-size: 17px;
	font-weight: 600;
	color: #fff;
	text-transform: capitalize;
	margin-bottom: 40px;
}

.links ul{
	padding: 0px;	
	margin-bottom: 4px;
}

.links ul li {
	display: block;
}

.links ul li a{
	color:#fff;
	font-weight: 500;
	font-size: 14px;
}

.links ul li a:hover{
	color:rgb(206, 27, 39);
	padding-left:10px;
	transition: 0.5s;
	text-decoration: none;
	cursor: pointer;
}