.main-small-banner{
	padding:80px 0;
	padding-bottom:0;
}

.main-small-banner .single-banner {
	overflow:hidden;
	position:relative;
}

.main-small-banner .single-banner img{
	height:100%;
	width:100%;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}

.main-small-banner .single-banner .content {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	padding-left: 35px;
}

.main-small-banner .single-banner h3 {
	font-size: 22px;
	font-weight: 700;
	text-transform: capitalize;
	color: #333;
}

.main-small-banner .single-banner h3 span{
	color:rgb(206, 27, 39);
}

.main-small-banner .single-banner p {
	font-size: 16px;
	color: rgb(206, 27, 39);
	font-weight: 500;
	margin-bottom: 5px;
	text-transform: capitalize;
}

.main-small-banner .single-banner a {
	color: #333;
	margin-top: 22px;
	display: block;
	font-size: 13px;
	font-weight:500;
	display: inline-block;
	text-transform:uppercase;
	border-bottom:2px solid #333;
}

.main-small-banner .single-banner a:hover{
	color:rgb(206, 27, 39);
    border-color:rgb(206, 27, 39);
    text-decoration: none;
    transition: 0.5s;
}